/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 21, 2019, 5:01:37 PM
    Author     : donov
*/

body {
  background-color: lightblue;
}

h1 {
  //color: navy;
  font-family: Verdana, Geneva, sans-serif;
  //margin-left: 20px;
}

div
{
    font-family: Verdana, Geneva, sans-serif;
}